#title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#web-preference {
    display: flex;
}

#web-preference-select {
    height: 32.86px;
}

#countrySearchContainer {
    display: flex;
    justify-content: space-between;
}

#searchCountryButton {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#countryInput {
    height: 32.86px;
}

/*styles filter by region select*/
#filterCountriesSelect {
    padding: 20px;
    margin-right: 80px;
}

hr {
    margin-bottom: 60px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    list-style: none;
}

.countryCard {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 6px;
    gap: 20px;
}


.countryCard img{
    height: 180px;
    width: 315px;  
}

.countryDetails {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 180px;
}


/*styles the countryName label */
.countryName {
    margin-left: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.countryInfo {
    margin-left: 20px;
    margin-bottom: 40px;
}

/*styles the countryInfo label; (e.g) region label*/
.countryInfo span {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/*styles the countryInfo value; (e.g) region value*/
.countryVal {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 375px){
     div {
        border: 3px solid red;
     }
}