#title-bar {
    display: flex;
    justify-content: space-between;
}

#countrySearchContainer {
    display: flex;
    justify-content: space-between;
}

#searchCountryButton {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#countryInput {
    height: 32.86px;
}

@media screen and (max-width: 375px){
     div {
        border: 3px solid red;
     }
}